{% extends 'base.html.twig' %}

{% block title %}Peinture index
{% endblock %}

{% block body %}
	<h1>Peintures</h1>
	<div class="card mb-3" style="max-width: 540px;">
		{% for peinture in peintures %}
			<div class="row g-0 text-center">
				<div class="col-md-4">
					<img src="{{ peinture.photo }}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Nom:
							{{ peinture.nom }}</h5>
						<p class="card-text">Description:
							{{ peinture.description }}</p>
						<p class="card-text">Prix:
							{{ peinture.prix }}</p>
						<p class="card-text">
							<small class="text-muted">Last updated 3 mins ago</small>
						</p>
					</div>
				</div>
			</div>

			<tr>
				<td>
					<a href="{{ path('peinture_show', {'id': peinture.id}) }}">show</a>
					<a href="{{ path('peinture_edit', {'id': peinture.id}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="14">no records found</td>
			</tr>
		{% endfor %}
	</div>


	<a href="{{ path('peinture_new') }}">Create new</a>
{% endblock %}
